html,body,#root {
    height: 100%;
}

body {
    /* background-image: url(https://i.pinimg.com/originals/8c/5b/9f/8c5b9ffdb179b37fe20b2c5c5201d9f0.jpg) */
}

.question {
    text-transform: uppercase;
    color: orange;
    font-family: "Segoe Script";
    
}


/* #pglayout  */
#root {
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}


.Ansbox {
    width: 500px;
    height: 100px;
    color: red;   
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 3px black,solid;    
    cursor: not-allowed;
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#lives {
    font-size: 30px;
    color: red;   
    /* display: flex; */
    text-align: left;
    /* justify-content: flex-start; */
}

#skips {
    font-size: 30px;
    color: red;   
    /* display: flex; */
    text-align: right;
    /* justify-content: flex-end; */
}



#footer {
    /* display: inline-block;  */
    /* border: 1px solid red;  */
    /* margin:10px; */
}